services:
  valkey:
    image: valkey/valkey:8.1.5
    command: valkey-server --save 20 1 --loglevel warning
    volumes:
      - valkey:/data
    ports:
      - 6379:6379
    restart: unless-stopped

  mysql:
    image: mariadb:12.1.2
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: true
      MYSQL_DATABASE: lagoss
      MYSQL_USER: lagoss
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - 3306:3306
    volumes:
      - mysql:/var/lib/mysql
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:v3.9.1
    ports:
      - 9090:9090
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus:/prometheus

  grafana:
    image: grafana/grafana:12.3.2
    ports:
      - 3001:3000
    volumes:
      - ./docker/grafana/datasources:/etc/grafana/provisioning/datasources
      - grafana:/var/lib/grafana

  clickhouse:
    image: clickhouse:25.12.4
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - 8123:8123
      - 8000:9000
    environment:
      CLICKHOUSE_DB: serverless
      CLICKHOUSE_USER: lagoss
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
    volumes:
      - clickhouse:/var/lib/clickhouse
    restart: unless-stopped

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    ports:
      - 9002:9002
      - 9001:9001
    volumes:
      - minio:/data
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY:-root}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY:-supersecret}
    entrypoint: sh
    command: -c 'mkdir -p /data/lagoss && minio server /data --console-address ":9001" --address ":9002"'

volumes:
  valkey:
  mysql:
  prometheus:
  grafana:
  clickhouse:
  minio:
