services:
  valkey:
    image: valkey/valkey:8.1.5
    command: valkey-server --save 20 1 --loglevel warning
    volumes:
      - valkey:/data
    restart: unless-stopped

  mysql:
    image: mariadb:12.0.2
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: true
      MYSQL_DATABASE: lagoss
      MYSQL_USER: lagoss
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql:/var/lib/mysql
    restart: unless-stopped

  clickhouse:
    image: clickhouse:25.9.5
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    environment:
      CLICKHOUSE_DB: serverless
      CLICKHOUSE_USER: lagoss
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
    volumes:
      - clickhouse:/var/lib/clickhouse
    restart: unless-stopped

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    volumes:
      - minio:/data
    environment:
      MINIO_ROOT_USER: lagoss
      MINIO_ROOT_PASSWORD: ${S3_SECRET_ACCESS_KEY}
    entrypoint: sh
    command: -c 'mkdir -p /data/lagoss && minio server /data --console-address ":9001" --address ":9002"'
    restart: unless-stopped

  dashboard:
    image: ghcr.io/lagossapp/dashboard:${LAGOSS_VERSION:-latest}
    environment:
      NUXT_DATABASE_URL: mysql://lagoss:${MYSQL_PASSWORD}@mariadb/lagoss
      NUXT_REDIS_URL: redis://valkey:6379
      NUXT_S3_ENDPOINT: http://minio:9002
      NUXT_S3_REGION: unknown
      NUXT_S3_BUCKET: lagoss
      NUXT_S3_ACCESS_KEY_ID: lagoss
      NUXT_S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      NUXT_S3_FORCE_PATH_STYLE: "true"
      NUXT_CLICKHOUSE_URL: http://clickhouse:8123
      NUXT_CLICKHOUSE_USER: lagoss
      NUXT_CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      NUXT_CLICKHOUSE_DATABASE: serverless # TODO: allow to set this
      NUXT_SERVERLESS_API_TOKEN: ${LAGOSS_API_TOKEN}
      NUXT_API_TOKEN: ${LAGOSS_API_TOKEN}
      NUXT_PUBLIC_APP_URL: ${LAGOSS_DASHBOARD_URL}
      NUXT_PUBLIC_ROOT_DOMAIN: ${LAGOSS_ROOT_DOMAIN}
      NUXT_PUBLIC_ROOT_SCHEMA: ${LAGOSS_ROOT_SCHEMA}
    env_file: .env
    depends_on:
      - valkey
      - mysql
      - clickhouse
      - minio
    restart: unless-stopped

  serverless:
    image: ghcr.io/lagossapp/serverless:${LAGOSS_VERSION:-latest}
    environment:
      LAGOSS_URL: http://dashboard:3000
      LAGOSS_API_TOKEN: ${LAGOSS_API_TOKEN}
      REDIS_URL: redis://valkey:6379
      S3_ENDPOINT: http://minio:9002
      S3_REGION: unknown
      S3_BUCKET: lagoss
      S3_ACCESS_KEY_ID: lagoss
      S3_SECRET_ACCESS_KEY: ${S3_ROOT_SECRET_ACCESS_KEY}
      CLICKHOUSE_URL: http://clickhouse:8123
      CLICKHOUSE_USER: lagoss
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      CLICKHOUSE_DATABASE: serverless
      LAGOSS_LISTEN_ADDR: 0.0.0.0:4000
      PROMETHEUS_LISTEN_ADDR: 0.0.0.0:9000
    env_file: .env
    depends_on:
      - valkey
      - mysql
      - clickhouse
      - minio
    restart: unless-stopped

  caddy:
    image: caddy:2.10.2-alpine
    ports:
      - 80:80
      # - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    restart: unless-stopped

volumes:
  valkey:
  mysql:
  clickhouse:
  minio:
