name: Container

on:
  push:
    branches:
      - main
    tags:
      - '@lagoss/serverless@*'
      - '@lagoss/dashboard@*'
  pull_request:

jobs:
  create-container-image:
    name: Create "${{matrix.image}}" container image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [serverless, dashboard]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{matrix.image}}
          tags: |
            type=ref,event=tag,prefix=@lagoss/${{matrix.image}}@
            type=ref,event=pr
            type=raw,value=next,enable={{is_default_branch}}

      - name: Login to ghcr.io registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        if: "!startsWith(github.ref, 'refs/tags/') || contains(github.ref, matrix.image)" # only execute if not tag or tag with specific matrix image
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: docker/Dockerfile.${{matrix.image}}
          platforms: ${{ github.event_name == 'pull_request' && 'linux/amd64' || 'linux/amd64,linux/arm64' }} # only build for amd64 on PRs to speed up CI job
          cache-from: type=gha
          cache-to: type=gha,mode=max
