name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

jobs:
  release:
    name: Release
    permissions: write-all
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          token: ${{ secrets.PAT }}
      - uses: pnpm/action-setup@v2.2.4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 21
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Create release
        uses: changesets/action@v1
        with:
          commit: 'ci: release'
          title: 'ci: release'
          publish: pnpm release
        env:
          # secrets.GITHUB_TOKEN doesn't trigger workflow on automated release
          # https://github.com/orgs/community/discussions/26875
          GITHUB_TOKEN: ${{ secrets.PAT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
